body {
  background-color: rgba(255, 145, 0, 0.5568627451);
}
body header .header {
  height: 30vh;
  justify-content: center;
}
body header img {
  width: 15%;
}
body .navbar1 {
  background: #E23408;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}
body .navbar1 .nav {
  width: 100%;
}
body .navbar1 .nav .nav-item .nav-link.active {
  background: #FBA63A;
  transform: scale(1.3);
}
body .navbar1 .nav .nav-item .nav-link {
  font-size: 1.5rem;
  color: white;
}
body .navbar1 .nav .nav-item .nav-link:hover {
  transform: scale(1.5);
}
body .navbar2 {
  display: none;
}
body main .shadow {
  box-shadow: 1rem 1rem 2rem black !important;
}
body main .scrollspy-example {
  clear: both;
}
body main .scrollspy-example .categorie h2 {
  padding: 1rem;
  color: white;
  text-shadow: 0.3rem 0.3rem 0.3rem black;
}
body main .scrollspy-example .categorie .cards .card {
  width: 25%;
}
body main .scrollspy-example .categorie .cards .card h5 {
  padding-left: 1rem;
}
body main .scrollspy-example .categorie .cards .card .card-body {
  height: -moz-fit-content;
  height: fit-content;
}
body main .scrollspy-example .categorie .cards .card .card-body #info_button {
  background-color: #525C0B;
}
body main .scrollspy-example .categorie .cards .card .card-body #order_button {
  background-color: #E23408;
  border: none;
}
body main .scrollspy-example .categorie .cards .card .price {
  color: #C71464;
  font-size: 1.5rem;
  font-weight: bold;
}
body footer {
  background-color: #E23408;
  border-radius: 4rem 4rem 0 0;
  padding-block: 2rem;
}
body footer iframe {
  border-radius: 1rem;
  height: 30vh;
}

@media (max-width: 640px) {
  body header {
    display: none;
  }
  body .navbar1 {
    display: none;
  }
  body .navbar2 {
    display: block;
    background-color: #E23408;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  body .navbar2 #logo {
    font-family: "Brush Script MT";
    color: white;
    font-size: 2.5rem;
    text-shadow: 0.3rem 0.3rem 0.1rem #0b292c;
  }
  body .navbar2 .navbar-toggler {
    height: 3rem;
  }
  body .navbar2 .nav-item .nav-link {
    font-size: 1.5rem;
    color: white;
  }
  body .navbar2 .nav-item .nav-link:hover {
    transform: scale(1.5);
  }
  body main .shadow {
    box-shadow: 1rem 1rem 2rem black !important;
  }
  body main .scrollspy-example {
    clear: both;
  }
  body main .scrollspy-example .categorie h2 {
    font-size: 3rem;
  }
  body main .scrollspy-example .categorie .cards {
    flex-direction: column;
    align-items: center;
  }
  body main .scrollspy-example .categorie .cards .card {
    width: 90%;
  }
  body main .scrollspy-example .categorie .cards .card .card-body {
    padding: 1rem 0;
  }
  body footer .cont {
    text-align: center;
    flex-direction: column;
  }
  body footer .cont .contact {
    font-size: 1.4rem;
    padding: 1rem;
  }
  body footer .cont .map {
    width: 80%;
  }
  body footer .cont .map iframe {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */